body {
  background-image: url('bg.jpeg') !important;
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: center center;
  height: 100vh;
  width: 100vw;
  font-family: "Open Sans", sans-serif !important;
  color: #fff !important;
  position: relative;
  background: transparent;
}

#header {
  background: linear-gradient(75deg, rgb(40, 43, 54) 0%, rgb(40, 43, 54) 40%, rgba(40, 43, 54, 0.8) 100%);
  width: 100vw;
  height: 100vh;
  transition: ease-in-out 0.3s;
  position: relative;
  display: grid;
  place-items: center;
  z-index: 997;
  overflow-y: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}


#header * {
  transition: ease-in-out 0.3s;
}

#header h1 {
  font-size: 48px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

#header h1 a,
#header h1 a:hover {
  color: #fff;
  line-height: 1;
  display: inline-block;
}

#header h2 {
  font-size: 24px;
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.8);
}

.social-links {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}

.social-links a {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  line-height: 1;
  margin-right: 8px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.social-links a:hover {
  background: #18d26e;
}

.col-lg-4{
  display: grid;
  justify-items: center;
}

.img-fluid{
  height: 90% !important;
}

.row .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #18d26e;
}

.row .content ul {
  list-style: none;
  padding: 0;
}

.row .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.row .content ul strong {
  margin-right: 10px;
}

.row .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: #18d26e;
  line-height: 0;
}

.row .content p:last-child {
  margin-bottom: 0;
}
